<div class="main-content">
  <app-side-drawer
    [products]="products"
    (filterChange)="onBrandFilter($event)"
  ></app-side-drawer>

  <div class="row">
    <div class="col-xs-12 col-sm-offset-9 col-sm-3">
      <!-- <label for="searchProducts">Search</label> -->
      <input
        type="search"
        class="form-control"
        name="search"
        id="search"
        placeholder="Search Product"
        [value]=""
        ngModel
        (keyup)="searchProducts($event)"
      />
    </div>
  </div>

  <app-products
    [filteredProducts]="filteredProducts"
    *ngIf="!isEmpty"
    (cartList)="onCartAdd($event)"
  ></app-products>

  <app-cart
    [cartItems]="cartItems"
    (editedCart)="onCartEdit($event)"
    (resetCart)="onCartReset()"
  ></app-cart>

  <div class="noData" *ngIf="isEmpty">
    No Products to display
  </div>
</div>
